* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
  outline: none;
  text-decoration: none;
}


.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: #3339;
}



.auth_container {
  display: grid;
  /* align-items: center; */
  /* flex-direction: column; */
  height: 100%;
  background: linear-gradient(35deg, darkred, blue, transparent); /*AMERICA COLORS*/
  grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);

}

.authHeader{
  grid-column: 2;
  grid-row: 2;
  

}

.authHeader > h1 {
  position: relative;
  font-size: 2em;
  color: blue;
  right: 8vw;
}
.authHeader > h2 {
  position: relative;
  font-size: 1.8em;
  color: white;
  left: 3.5vw;
}
.authHeader > h3 {
  position: relative;
  font-size: 2em;
  color: darkred;
  left: 7vw;
}

.auth_container > p {
  position: absolute;
    top: 55%;
    /* left: 35vw; */
  justify-self: center;
  text-decoration: underline;
  
}

.auth_container > form {
  background-color: hsla(0, 0%, 67%, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 2;
  grid-row: 3;

  

}

.auth_container > form > input {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.auth_container > form > button {
  /* margin: 16px 8px; */
  padding: 8px;
  border-radius: 4px;

  position: absolute;
    top: 55%;
    left: 34vw;


}


.issue_list{
  display: flex;
  flex-direction: column;
  /* border: 1px solid red ; */
  height: 200vh;
  width: 100%;
  /* margin-top: -200px; */
  padding-left: 50px;
}

.issue_info{
  display: flex;
  flex-direction: column;
  /* border: 1px solid red ; */
  height: 50vh;
  width: 100%;
  margin-top: 300px;
}


.public {
  height: 100vh;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.profile > h1 {
  margin: 8px;
  font-size: 2em;
  text-align: center;
}

.profile  {
  margin-bottom: 16px;
  text-decoration: underline;
}

/* h3{
  
} */

.profile > form {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  border: 1px solid #3339;
  background-color: #aaa9;
  padding: 16px;
  border-radius: 5px;
}

.voteBtnUp, .voteBtnDown{
  width: 60px;
  position: relative;
  left: 20px;
}

.voteBtnUp{
  background-color: black;
  top: 25px;
}

.voteBtnDown{
  position: relative;
  left: 120px;
  bottom: 25px;
  background-color: rebeccapurple;

}

#upvoting{
  position: relative;
  left: 45px;
  top: 40px;
  color: rebeccapurple;
  font-weight: bolder;
  font-size: 20px;
}

#downvoting{
  position: relative;
  left: 145px;
  bottom: 6px;
  font-weight: bolder;
  font-size: 20px;
  color: rebeccapurple;

}
.edit{
  width: 50px;
  background-color: black;
  color: rebeccapurple;
  position: relative;
  left: 25px;
}

.delete{
  width: 50px;
  background-color: rebeccapurple;
  color: black;
  position: relative;
  left: 125px;
  bottom: 40px;
  
}

.edit, .delete{
  margin-top: 20px;
}

button{
  cursor: pointer;
}

li{
  /* list-style-type: none; */
  list-style-type: decimal;
}

#join, #login{
  cursor: pointer;
}

header{
  display: flex;
  justify-content: center;
  color: rebeccapurple;
  text-decoration: underline overline;
  margin-top: 35px;

}