* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  color: white;
  text-decoration: underline;
  text-decoration-color: rebeccapurple;
  background: linear-gradient(hsl(0, 98%, 23%), transparent);
}

.nav_link {
  color: rebeccapurple;
  text-decoration: none;
  font-size: 2em;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.profiles {
  grid-column: 1 / 2;
  grid-row: 2;
}
.publics {
  grid-column: 2 / 3;
  grid-row: 2;
}
.logouts {
  grid-column: 3 / 4;
  grid-row: 2;
}

.nav_link:hover {
  color: #ed0707;
  text-decoration: underline overline;
}

.auth_container {
  display: grid;
 
  height: 100vh;
  background: linear-gradient(
    35deg,
    darkred,
    blue,
    transparent
  ); 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-items: center

}

.authHeader {
  grid-column: 2;
  grid-row: 2;
}

.authHeader > h1 {
  position: relative;
  font-size: 2em;
  color: hsl(240, 100%, 85%);
  right: 8vw;
}
.authHeader > h2 {
  position: relative;
  font-size: 1.8em;
  color: white;
  left: 3.5vw;
}
.authHeader > h3 {
  position: relative;
  font-size: 2em;
  color: hsl(0, 100%, 57%);
  left: 7vw;
}

.auth_container > p {
  position: absolute;
  top: 55%;
  justify-self: center;
  text-decoration: underline;
}

.authForm {
  background-color: hsla(0, 0%, 67%, 0);
  
  grid-column: 2;
  grid-row: 3;
}

.authForm > input {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
  background: hsl(0, 94%, 65%);
}

.authForm > button {
  margin-top: 10vh;
  padding: 8px;
  border-radius: 14%;
    background: white;

}

.authForm > button:hover,
.authForm > button:focus{
  background: hsl(240, 100%, 60%);
}

.issue_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50em;
}

.issue_list > div {
  flex: 1 0 21%; /* grow | shrink | basis */
  margin: 1%;
}

.public {
  background: linear-gradient(35deg, darkred, blue, transparent);
}

.profile {
  background: linear-gradient(35deg, darkred, blue, transparent);
  margin-bottom: 16px;
}

.profile > h1 {
  position: relative;
  top: 20vh;
  font-size: 3em;
  text-align: center;
}

.issueForm {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.issueForm > input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;

  --color: hsl(270, 50%, 90%);
  background: var(--color);
}

.issueForm > button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  --color: rgba(0, 0, 255, 0.209);
  background: hsl(270, 50%, 90%);
  border-radius: 5px;
}

.addIssueBtn:hover,
.addIssueBtn:focus {
  background: var(--color);
}

.profileTitle {
  position: relative;
  top: 20vh;
  font-size: 3em;
  text-align: center;
}

.h3_Issue {
  position: relative;
  top: 24vh;
  font-size: 1.5em;
  text-align: center;
}

.issueBelowGrid {
  display: grid;
  justify-items: center;
}

.issuesBelow {
  position: absolute;
  font-size: 2em;
  top: 80%;
}

.card {
  margin-bottom: 2.5vh;
}

.card-body {
  background: linear-gradient(hsl(0, 98%, 23%), transparent);
  color: blue;
}

button {
  cursor: pointer;
}

li {
  /* list-style-type: none; */
  list-style-type: decimal;
}

#join,
#login {
  cursor: pointer;
  color: white;
}

#join:hover,
#login:hover {
  color: crimson;
  text-decoration: underline overline;
}

.public_page {
  /* grid-template-columns: repeat(4, 2fr); */
  position: relative;
  text-align: center;
  top: 5em;
  font-weight: bolder;
  font-size: 2em;
  text-decoration: underline;
  margin-bottom: -15em;
}

.editForm {
  display: flex;
  flex-direction: column;
}
.card {
  position: relative;
}

.card:hover .username {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

.username {
  display: none;
}

@media screen and (width < 2100px) {
  
  .profile {
    padding: 3rem 2rem;
  }

  .profile > h1 {
    margin-top: -10vh;
  }
}

@media screen and (max-width <= 736px) {
  /* .authForm{

  } */

  .navbar{
    display: grid;
    grid-row: repeat(2, 1fr);
  }

  

  .profile {
    padding: 2rem 1rem;
  }

  .profile > h1 {
    margin-top: -10vh;
  }


}

@media screen and (width <= 608px) {
  

  .profile {
    padding: 2rem 1rem;
  }

  .navbar {
    display: grid;
    grid-row: repeat(2, 1fr);
  }

  .nav_link {
    
    font-size: 1rem;
    padding: 0.5rem;
  }

  
}

/* @media screen and (width < ){
  .navbar{
    width: 100%;
  }
} */
